<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <title>注册</title>
</head>

<body>
    <div id="superComponent"></div>

    <script src="/static/js/bootstrap/jquery.min.js"></script>
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>

    <script src="/static/dist/main.js"></script>
</body>

</html>